.chatList {
    border: 1px solid black;
    list-style: none;
    padding: 1em;
    height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    margin: 0 0 1em;
}

.chatMessage {
    border: 2px solid rgb(189, 215, 255);
    width: 20em;
    padding: 1em;
    margin: 0.5em 0;
    border-radius: 0.5em;
    background-color: #eeeeee;
    box-shadow: 1px 1px 5px 1px #cccccc;
    word-break: break-word;
}

.chatMessageMy {
    align-self: flex-end;
}

.chatMessageMy .chatMessage {
    background-color: powderblue;
}


.chatMessageText {
    margin: 0;
}

.chatMessageFooter {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    margin: 0.5em 0 0;
    padding-top: 0.5em;
    font-size: 0.9em;
    color: gray;
}

.chatMessageUser {
    margin: 0;
    font-style: italic;
}

.chatMessageDate {
    margin: 0;
}
