.roomUserList {
    list-style: none;
    padding: 0;
}

.block {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    display: flex;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;
}

.offline p, .offline img {
    opacity: 30%;
}

.buttons {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    align-items: center;
    justify-content: flex-end;
}
