.roomUserList {
    list-style: none;
    padding: 0;
}

.block {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding: 10px;
}

.offline {
    opacity: 30%;
}

.buttons {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 0 auto;
    align-items: center;
}
