.form {
    margin-bottom: 1.5em;
}

.input {
    margin-bottom: 1em;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.input label {
    text-align: right;
    margin-right: 0.5em;
}

.input input {
    flex: 1;
}

.submit {
    display: block;
    margin-left: auto;
}
